.stack-list {
  display: block;
  height: 100%;
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  background-color: $white;

  &__title {
    text-align: center;
    font-weight: 600;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
}

.stack-list-item {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &__title {
    margin-right: 5px;
  }

  &__views,
  &__answers,
  &__answers--green{
    background-color: $green-light;
    display: inline-block;
    font-size: 0.75rem;
    padding: 0 4px;
    border-radius: 5px;
  }

  &__answers--green {
    background-color: $green;
    color: $white-sand;
  }

  &__tag {
    display: inline-block;
    background-color: $gray-mystic;
    border-radius: 5px;
    font-size: 0.75rem;
    padding: 0 4px;
    margin-right: 4px;
  }

  &__link {
    margin: 5px 0;
  }
}

.weather-item-entry {
  display: inline-block;

  &__key {
    margin-right: 5px;
  }

  &__value {
    margin-right: 5px;
  }
}
