<div class="stack-list-item__meta">
  <span class="stack-list-item__views">Views: {{ item?.view_count }}</span>,
  <span [class]="{
    'stack-list-item__answers': !(item?.answer_count),
    'stack-list-item__answers--green': (item?.answer_count)
  }">
    Answers: {{ item?.answer_count }}
  </span>
  <span class="stack-list-item__crdate" *ngIf="item?.creation_date">
    Created: {{ (item?.creation_date || 0) * 1000 | date}}
  </span>
</div>
<div class="stack-list-item__title" [innerHtml]="item?.title | trustHtml"></div>
<div class="stack-list-item__link">
  <a [href]="item?.link" target="_blank" rel="noopener">(...read more)</a>
</div>
<div class="stack-list-item__tags">
  <a *ngFor="let tag of item?.tags"
     [href]="'https://stackoverflow.com/questions/tagged/' + tag"
     target="_blank"
     rel="noopener"
  >
    <span class="stack-list-item__tag" >{{ tag }}</span>
  </a>
</div>
